<h1>Agent rooms</h1>

<!--<p class="lead">< link_to 'New agent room', new_agent_room_path, class: 'btn btn-primary' ></p>-->

<p class="lead"><%= link_to 'Get Started', start_path, class: 'btn btn-primary' %></p>
<ul>
  <%= render @agent_rooms %>
</ul>